.top{
	height: 100px;
	background-color: white;

}
nav a{ text-decoration: none;
	color:black;
	font-family: arial;
	font-size:18px;
	text-align: center;
	margin: 40px;
	position:relative;
	top: 50px;
	bottom: 10px;
}
.background{
	padding-top: 100px;
	background:#383838 url('../images/background.jpg') no-repeat;
	height:375px;
	background-size:100%;
	width: 100%
}
.tile1{
	padding-top: 60px;
	background:#383838 url('../images/tile1.png') no-repeat;
	height:380px;
	background-size:100%;
	width: 100%
}
.texto{
	position:relative;
    bottom:40px;
}
.about{
	color:purple;
	font-size: 40px;
	margin-bottom: 20px;
}
.name{
	color:white;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom:20px;
}
.things{
	font-size: 25px;
	font-family: arial;
	color:purple;
	margin-bottom: 30px;
	margin-top: 25px;
}
.here{
	font-size:18px;
	font-family: arial;
	margin-bottom: 30px;
	color:purple;
}
.cat img{
	border-radius:50%;
	height: 150px;
	padding: 3px;
	border:1px solid purple; 
}
.tagline{
	color:white;
	font-size:20px;
}
.profile{
	height: 200px;
}
.tile2{
	margin-top: 40px;
	background: url('../images/tile2.png');
	height:300px;
	width: 100%
}
.imagen{
	border-radius: 50%;
}
.contact{
	margin-top: 30px;
	margin-bottom: 30px;
	color:purple;
	font-size: 30px;
}